<br><br>
<div style="background-color:lavenderblush;text-align:center;">
<hr>
<b>Enter your email address to follow me and receive notifications of new posts by email.</b>
<br>
<form action="http://getsimpleform.com/messages?form_api_token=b0ebb94a44dafb252b6ad85e8a96a56d" method="post">
<label for='email'> </label><input type='text' id='email' name='email' placeholder='Email Address'/>
<input type='submit' value='Subscribe' style="text-align:center;" />
<input type="hidden" name="redirect_to" value="https://excitedpositron.github.io/"/>
</form>
No spam from me, don't worry.
<hr> 
</div>
